---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Salam App">
  <p class="text-3xl font-semibold text-white text-center pt-16 sm:text-4xl">
    Hey friend, looks like you are lost
  </p>
  <div class="text-center pt-10">
    <a href="/" class="text-aquamarine underline font-medium text-2xl"
      >return to home page</a
    >
  </div>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
