---
import Layout from "@layouts/Layout.astro";
import CiTrash from "~icons/ph/trash-bold";
---

<Layout title="Data Deleteion Request">
  <div class="p-10 sm:px-36" id="main">
    <h1
      class="text-left sm:text-center text-3xl sm:text-5xl text-aquamarine font-bold mb-10 sm:mb-16"
    >
      Data Deletion
    </h1>
    <p class="mb-10 text-lg text-white">
      User data is only stored if Salam App Cloud is used to create a backup; if
      you wish for all user data to be deleted, enter the e-mail linked to your
      account in the field below.
    </p>
    <b class="text-white mt-20">This cannot be undone.</b>
    <label
      for="helper-text"
      class="block mt-10 text-sm font-medium dark:text-white"
      >Your email :</label
    >
    <div class="flex mt-1">
      <input
        type="email"
        id="email"
        aria-describedby="helper-text-explanation"
        class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 text-white"
        placeholder="example@gmail.com"
      />

      <button
        class="bg-grey-200 rounded-md px-4 mx-5"
        id="button"
        onclick="remove()"



      >
        <CiTrash name="ph:trash-bold" class="w-5 h-5" />
      </button>
    </div>

    <div class="flex">
      <p class="mt-2 text-sm text-gray-400">
        We’ll never share your details. Please read our
        <a
          href="/policy"
          class="text-aquamarine-500 mt-2 ml-1 hover:underline text-sm"
        >
          Privacy Policy.</a
        >
      </p>
    </div>
  </div>

  <script is:inline>
    button.disabled = true;
    function remove() {
      var email = document.getElementById("email").value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "https://76bac981-a7ce-4568-90be-d942824b834d-00-efjhrap6x2w1.riker.replit.dev/delete", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log(xhr.responseText);
        }
      };
      xhr.send("email=" + email); // Change 'name' to 'email'

      //
      document.getElementById("main").innerHTML = "";
      document.getElementById("main").innerHTML =
        '<h1 class="text-center text-5xl text-aquamarine font-bold mb-16">Please check your mail</h1>' +
        '<p class="mb-10 text-lg text-center text-white">A confirmation link has been sent to your e-mail. Please click the link to in your mail account to confirm your data deletion request. The link expires in 10 minutes.</p>' +
        '<h1 class="text-center text-aquamarine font-bold mb-16">Check spam folder too.</h1>';
    }
    // Get the current URL
    var currentUrl = window.location.href;

    // Check if the URL contains '#success'
    if (currentUrl.includes("#success")) {
      document.getElementById("main").innerHTML = "";
      document.getElementById("main").innerHTML =
        '<h1 class="text-center text-5xl text-aquamarine font-bold mb-16">SUCCESS</h1>' +
        '<p class="text-center mb-10 text-lg text-white">Your data deletion request has been submitted; all your user data will be removed within the next few days. You can re-enable the sync feature by logging into Salam App, but old data will be irretrievable.</p>' +
        '<h1 class="text-center text-aquamarine font-bold mb-16">You may close this window.</h1> ';
    }

    //check for gmail.com
    document.getElementById("email").addEventListener("input", function () {
      var email = this.value;
      var button = document.getElementById("button");

      // Check if the email contains "@gmail.com"
      if (email.includes("@") && email.includes(".")) {
        // If it does, enable the button and add the class bg-aquamarine-500
        button.disabled = false;
        button.classList.add("bg-aquamarine-500");
        button.classList.remove("bg-grey-200");
      } else {
        // If it does not, disable the button and add the class bg-grey-300
        button.disabled = true;
        button.classList.add("bg-grey-200");
        button.classList.remove("bg-aquamarine-500");
      }
    });
  </script>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
