---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Salam App Data Deleteion Page">

<div class="p-10 sm:px-36" id="main">
  <h1 class="text-center text-5xl text-aquamarine font-bold mb-16">Account Settings</h1>
    <p class="mb-10 text-lg text-white">We only store data of an user to make the backup function. So if you login to another instance of salam app with your google account data will sync. If you enter your emails adress into this all data about you will be deleted.</p>
    <b class="text-white mt-20">This can not be undone</b>
    <label for="helper-text" class="block mt-10 text-sm font-medium dark:text-white">Your email</label>
    <div class="flex mt-1">
        <input type="email" id="email" aria-describedby="helper-text-explanation" class=" border text-sm rounded-lg   block w-full p-2.5  bg-gray-700 border-gray-600 text-white" placeholder="example@gmail.com">

        <button class="bg-aquamarine-500  rounded-md px-4 mx-5" onclick="remove()">
            <Icon name="ph:trash-bold" alt="delete icom" class="w-5 h-5 " />
        </button>
            
    </div>
  
        <div class="flex">
            <p  class="mt-2 text-sm text-gray-400">We’ll never share your details. Read our </p>
            <a href="/policy" class="text-aquamarine-500 mt-2 ml-1 hover:underline text-sm"> Policy</a>
        </div>
   
    
</div>


<script is:inline>
     function remove(){
    var email =  document.getElementById("email").value
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://delete.golam71.repl.co/delete', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            console.log(xhr.responseText);
        }
    };
    xhr.send('email=' + email);  // Change 'name' to 'email'

    //
    document.getElementById("main").innerHTML=''
     document.getElementById('main').innerHTML = 
  '<h1 class="text-center text-5xl text-aquamarine font-bold mb-16">Please check your mail</h1>' +
  '<p class="mb-10 text-lg text-white">We only store data of a user to make the backup function. So if you log in to another instance of Salam app with your Google account, data will sync. If you enter your email address into this, all data about you will be deleted.</p>' +
  '<h1 class="text-center text-aquamarine font-bold mb-16">Check spam folder too</h1>';


     }



</script>
    
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
