---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Salam App photos">
  <div class="2xl:flex-col 2xl:justify-evenly 2xl:w-3/4 mx-auto">
    <!-- quran part starts here  -->
    <div class="sm:flex sm:justify-around sm:m-6 lg:ml-52 2xl:ml-60">
      <div>
        <div
          class="text-center text-7xl font-bold mt-16 text-aquamarine"
          id="quran-tafsir"
        >
          QURAN
        </div>
        <p class="text-white text-4xl font-semibold mt-10 ml-16">3 Modes</p>
        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">
            Verse by Verse
          </li>
          <li class="text-white text-2xl font-medium list-disc">Mushaf Mode</li>
          <li class="text-white text-2xl font-medium list-disc">List Mode</li>
        </ul>
        <p class="text-white text-4xl font-semibold mt-16 ml-16">Including</p>
        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">Tafsir</li>
          <li class="text-white text-2xl font-medium list-disc">Quran Audio</li>
          <li class="text-white text-2xl font-medium list-disc">
            Transliteration
          </li>
          <li class="text-white text-2xl font-medium list-disc">Bookmarks</li>
          <li class="text-white text-2xl font-medium list-disc">Translation</li>
        </ul>
      </div>
      <div class="swiper mySwiper mx-auto sm:mx-0 mt-12 flex-shrink-0">
        <div class="swiper-wrapper">
          <img
            src="/quran7.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran1.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran2.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran3.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran4.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran5.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/quran6.png"
            alt="quran image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/tafsir1.png"
            alt="tafsir image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/tafsir2.png"
            alt="tafsir image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/tafsir3.png"
            alt="tafsir image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/tafsir4.png"
            alt="tafsir image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
        </div>
        <div class="swiper-pagination m-[-10px]"></div>
      </div>
    </div>
    <!--this part is quran only below is hadith -->
    <div
      class="sm:flex sm:flex-row-reverse sm:justify-around sm:m-6 lg:mr-12 2xl:mr-40"
    >
      <div>
        <div
          class="text-center text-7xl text-aquamarine font-bold mt-16"
          id="hadith"
        >
          HADITH
        </div>
        <p class="text-white text-center text-4xl font-semibold mt-10 sm:ml-16">
          7 Sahih books of hadith and more
        </p>
        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">
            Sahih al-Bukhari
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Sahih Muslim.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Sunan Abu Dawood.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Sunan al-Tirmidhi.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Sunan al-Tirmidhi.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Sunan ibn Majah.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Hisn Al Muslim
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Bulugh Al Maram
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Al Shama'il Al Muhammadiyah.
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Musnad Ahmad
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Riyadh As Salihin
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            AL Adab Al Mufrad
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Mishkat Al Masabih
          </li>
        </ul>
      </div>
      <div class="swiper mySwiper mx-auto sm:mx-0 mt-12 flex-shrink-0">
        <div class="swiper-wrapper">
          <img
            src="/hadith1.png"
            alt="hadith image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/hadith2.png"
            alt="hadith image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/hadith3.png"
            alt="hadith image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/hadith4.png"
            alt="hadith image"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
        </div>
        <div class="swiper-pagination m-[-10px]"></div>
      </div>
    </div>
    <!-- this part is themes only below is prqyer times-->
    <div
      class="sm:flex sm:flex-row sm:justify-around sm:m-6 lg:ml-52 2xl:ml-44"
    >
      <div>
        <div
          class="text-center text-5xl sm:text-6xl text-aquamarine font-bold mt-20"
          id="prayertimes-themes"
        >
          Prayer Times
        </div>
        <p class="text-white text-4xl font-semibold mt-10 ml-16">Home Page</p>
        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">
            Accurate Prayer Times
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Tahajjud Tiime
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Adhan Notification
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Hijri Date and Timer
          </li>
        </ul>
        <p class="text-white text-4xl font-semibold mt-8 ml-16">5 Themes</p>

        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">Default</li>
          <li class="text-white text-2xl font-medium list-disc">Rashidun</li>
          <li class="text-white text-2xl font-medium list-disc">Pastel</li>
          <li class="text-white text-2xl font-medium list-disc">Classic</li>
          <li class="text-white text-2xl font-medium list-disc">Ayyubid</li>
        </ul>
      </div>
      <div class="swiper mySwiper mx-auto sm:mx-0 mt-12 flex-shrink-0">
        <div class="swiper-wrapper">
          <img
            src="/prayerTime1.png"
            alt="image of prayer time"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/prayerTime2.png"
            alt="image of prayer time"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/prayerTime3.png"
            alt="image of prayer time"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/prayerTime4.png"
            alt="image of prayer time"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/prayerTime5.png"
            alt="image of prayer time"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/theme1.png"
            alt="image of a theme"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/theme2.png"
            alt="image of a theme"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/theme3.png"
            alt="image of a theme"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/theme4.png"
            alt="image of a theme"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/theme5.png"
            alt="image of a theme"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[341px]"
          />
        </div>
        <div class="swiper-pagination m-[-10px]"></div>
      </div>
    </div>
    <!-- above is prayer times below is  the other cool stuff like tafsir , dua ,calender-->

    <div
      class="sm:flex sm:flex-row-reverse sm:justify-around sm:m-6 lg:mr-48 2xl:mr-72"
    >
      <div>
        <div
          class="text-center text-7xl text-aquamarine font-bold mt-16"
          id="99names-qibla"
        >
          And More
        </div>
        <p class="text-white text-4xl font-semibold mt-10 ml-16">
          Miscellaneous
        </p>
        <ul class="mt-7 ml-28">
          <li class="text-white text-2xl font-medium list-disc">
            99 Names of Allah
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Prayer Tracker
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Qibla Compass
          </li>
          <li class="text-white text-2xl font-medium list-disc">
            Islamic Calender
          </li>
        </ul>
      </div>
      <div class="swiper mySwiper mx-auto sm:mx-0 mt-12 flex-shrink-0">
        <div class="swiper-wrapper min-w-full">
          <img
            src="/99names1.png"
            alt="Allah's 99 names"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />

          <img
            src="/99names2.png"
            alt="Allah's 99 names"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/99names3.png"
            alt="Allah's 99 names"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />

          <img
            src="/qiblaCompass1.png"
            alt="qibla compass"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/calender1.png"
            alt="Islamic Calender"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/dua1.png"
            alt="picture of dua"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/dua2.png"
            alt="picture of dua"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
          <img
            src="/prayerTracker.png"
            alt="picture of prayer tracker"
            class="swiper-slide min-w-full"
            class="h-[665px] w-[356px]"
          />
        </div>
        <div class="swiper-pagination m-[-10px]"></div>
      </div>
    </div>
  </div>
  <!-- this is the end     -->
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .swiper {
    height: 665px;
    width: 356px;
  }
  .sm\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
</style>

<script>
  // eslint-disable-next-line import/no-named-as-default
  // i really hate swiper js
  // edit i dont anymore


  import Swiper from 'swiper';
  import {Navigation, Pagination, Autoplay}  from 'swiper/modules';
  import "swiper/css";
  import "swiper/css/pagination";
  import "swiper/css/navigation"
  import "swiper/css/autoplay";

  // eslint-disable-next-line no-unused-vars
  const swiper = new Swiper(".mySwiper", {
    autoplay: {
      delay: 2000,
      pauseOnMouseEnter: true,
    },

    loop: true,
    preloadImages: false,
    lazy: true,

    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    modules: [Navigation, Pagination, Autoplay],
  });
</script>
