---
---

<button
  type="button"
  class="inline-flex items-center px-6 py-3 text-base font-medium rounded-lg shadow-sm text-black bg-aquamarine hover:bg-aquamarine-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-aquamarine-300"
>
  <slot />
</button>
