---
---

<button
  type="button"
  class="inline-flex items-center px-6 py-2 border border-transparent shadow-sm text-base font-bold rounded-md text-black bg-aquamarine hover:bg-aquamarine-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-aquamarine-300"
>
  <slot name="text" />
  <!-- Heroicon name: solid/mail -->
  <div class="ml-3 -mr-1">
    <slot name="icon" />
  </div>
</button>

<!--  -->
