<div class="py-16 bg-smoke-400 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="relative">
      <h2
        class="text-center text-3xl leading-8 font-medium text-white sm:text-4xl"
      >
        Salam App
      </h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-200">
        Salam App is an advertisement-free and privacy-focused Islamic app that offers all the features a Muslim may need throughout their day with no compromises, and it's all for free!
      </p>
    </div>

    <section class="text-gray-300 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div
          class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
        >
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
              <!-- <Icon name="ph:info" height="30px" /> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="30px"
                viewBox="0 0 256 256"
                ><path
                  fill="currentColor"
                  d="M128 24a104 104 0 1 0 104 104A104.1 104.1 0 0 0 128 24Zm0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88Zm16-40a8 8 0 0 1-8 8h-8a8 8 0 0 1-8-8v-48a8 8 0 0 1 0-16h8a8 8 0 0 1 8 8v48a8 8 0 0 1 8 8Zm-30-92a12 12 0 1 1 12 12a12 12 0 0 1-12-12Z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
                Quran & Hadith
              </h2>
              <p class="leading-relaxed text-base">
                Expand your understanding of Islam by reading the Quran and Hadith.
              </p>
            </div>
          </div>
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="30px"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M12 22c1.1 0 2-.9 2-2h-4a2 2 0 0 0 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-1.29 1.29c-.63.63-.19 1.71.7 1.71h13.17c.89 0 1.34-1.08.71-1.71L18 16z"
                ></path>
              </svg>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
                Notifications
              </h2>
              <p class="leading-relaxed text-base">
                With our customizable push notifications, you will always be on top of your daily prayers and readings. 
              </p>
            </div>
          </div>
          <div class="p-4 lg:w-1/3 flex">
            <div
              class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-aquamarine text-black mb-4 flex-shrink-0"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8c.28 0 .5-.22.5-.5a.54.54 0 0 0-.14-.35c-.41-.46-.63-1.05-.63-1.65a2.5 2.5 0 0 1 2.5-2.5H16c2.21 0 4-1.79 4-4c0-3.86-3.59-7-8-7zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 10 6.5 10s1.5.67 1.5 1.5S7.33 13 6.5 13zm3-4C8.67 9 8 8.33 8 7.5S8.67 6 9.5 6s1.5.67 1.5 1.5S10.33 9 9.5 9zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 6 14.5 6s1.5.67 1.5 1.5S15.33 9 14.5 9zm4.5 2.5c0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5z" opacity=".3"/><path fill="currentColor" d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10a2.5 2.5 0 0 0 1.86-4.17a.495.495 0 0 1 .37-.83H16c3.31 0 6-2.69 6-6c0-4.96-4.49-9-10-9zm4 13h-1.77a2.5 2.5 0 0 0-2.5 2.5c0 .61.22 1.19.63 1.65c.06.07.14.19.14.35c0 .28-.22.5-.5.5c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.14 8 7c0 2.21-1.79 4-4 4z"/><circle cx="6.5" cy="11.5" r="1.5" fill="currentColor"/><circle cx="9.5" cy="7.5" r="1.5" fill="currentColor"/><circle cx="14.5" cy="7.5" r="1.5" fill="currentColor"/><circle cx="17.5" cy="11.5" r="1.5" fill="currentColor"/></svg>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-white text-lg title-font font-medium mb-2">
              
Themes
              </h2>
              <p class="leading-relaxed text-base">
                Personalize your experience from a library of historical and elegant themes!
              </p>
            </div> 
          </div>
        </div>
      </div>
    </section>

    <div
      class="flex mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center flex-col"
      id="quran"
    >
      <div class="relative">
        <h3 class="text-2xl font-medium text-white sm:text-3xl">
          The Holy Quran
        </h3>
        <p class="mt-3 text-lg text-gray-200">
          Keep the Quran with you at all times along with beautiful recitations from your favourite Qaris! 
        </p>

        <div class="mt-10 space-y-10">
          <div
            class="relative p-3" 
            id="verse"
            onclick="changePic('quran7.png' ,'verse')"
          >
            <dl>
              <dt>
                <div
                  class="absolute mt-7 sm:mt-3 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="30px"
                    viewBox="0 0 32 32"
                    ><path
                      fill="currentColor"
                      d="M26 30h-2V20H12v10h-2V20a2.002 2.002 0 0 1 2-2h12a2.002 2.002 0 0 1 2 2zM5.17 16L2 19.17l1.411 1.419L8 16l-4.58-4.58L2 12.83L5.17 16zM24 14H12a2.002 2.002 0 0 1-2-2V2h2v10h12V2h2v10a2.002 2.002 0 0 1-2 2z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-20 text-lg leading-6 font-medium text-white">
                  Verse by Verse
                </p>
              </dt>
              <dd class="mt-2 ml-20 text-base text-gray-200">
                Read verse by verse with translations and transliterations for
                easy understanding.
              </dd>
            </dl>
          </div>

          <div
            class="relative p-3"
            id="mushaf"
            onclick="changePic('quran5.png' ,'mushaf')"
          >
            <dl>
              <dt>
                <div
                  class="absolute mt-7 sm:mt-3 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="30px"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M21 5c-1.11-.35-2.33-.5-3.5-.5c-1.95 0-4.05.4-5.5 1.5c-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v15.5C2.45 20.4 4.55 20 6.5 20s4.05.4 5.5 1.5c1.45-1.1 3.55-1.5 5.5-1.5c1.17 0 2.39.15 3.5.5c.75.25 1.4.55 2 1V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5c-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5c1.2 0 2.4.15 3.5.5v11.5z"
                    ></path><path
                      fill="currentColor"
                      d="M17.5 10.5c.88 0 1.73.09 2.5.26V9.24c-.79-.15-1.64-.24-2.5-.24c-1.7 0-3.24.29-4.5.83v1.66c1.13-.64 2.7-.99 4.5-.99zM13 12.49v1.66c1.13-.64 2.7-.99 4.5-.99c.88 0 1.73.09 2.5.26V11.9c-.79-.15-1.64-.24-2.5-.24c-1.7 0-3.24.3-4.5.83zm4.5 1.84c-1.7 0-3.24.29-4.5.83v1.66c1.13-.64 2.7-.99 4.5-.99c.88 0 1.73.09 2.5.26v-1.52c-.79-.16-1.64-.24-2.5-.24z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-20 text-lg leading-6 font-medium text-white">
                  Mushaf Mode
                </p>
              </dt>
              <dd class="mt-2 ml-20 text-base text-gray-200">
                Prefer reading the Holy Quran on how it is in the written form?
                Both ways are available.
              </dd>
            </dl>
          </div>

          <div
            class="relative p-3"
            id="list"
            onclick="changePic('quran3.png' ,'list')"
          >
            <dl>
              <dt>
                <div
                  class="absolute mt-4 sm:mt-1 flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine text-black"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="30px"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5s1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5S5.5 6.83 5.5 6S4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5s-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-20 text-lg leading-6 font-medium text-white">
                  List Mode
                </p>
              </dt>
              <dd class="mt-2 ml-20 text-base text-gray-200">
                List the verses, search through them.
              </dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <img
          id="img"
          src="/quran1.png"
          class="h-[645px] w-[345px] mx-auto sm:relative sm:mr-auto lg:ml-44"
          alt="photo of salam app"
        />
      </div>
    </div>
    <!-- commented code was deleted from here -->
  </div>
</div>

<style>
  .selected {
    background-color: #40444e;
    border-radius: 3vh;
  }
</style>

<script is:inline>
  function changePic(pic, id) {
    document.querySelector("#img").src = `./${pic}`;

    // document.getElementById("img").src = "../../public/quran/" + pic;
    // when it is clicked take away the styles that were given on previous click

    const idNames = ["verse", "list", "mushaf"];

    // list of id names that can be selected this function below deletes the class that makes it look like its selecyed

    idNames.forEach(function removeClass(item) {
      // eslint-disable-next-line unicorn/prefer-query-selector
      document.getElementById(item).classList.remove("selected");
    });

    // eslint-disable-next-line unicorn/prefer-query-selector
    document.getElementById(id).classList.toggle("selected");
  }

  changePic("quran5.png", "mushaf");
</script>
