---
---
    
<div>
  <div class="max-w-2xl mx-auto text-white py-10">
    <div class="text-center">
      <h3 class="text-3xl mb-3" id="download">Download Salam App</h3>
      <p>Enjoy all your favourite features for free with no ads and complete privacy!</p>
      <div
        class="flex flex-col my-10 sm:space-x-10 sm:flex-row space-x-0 space-y-10 sm:space-y-0 justify-center items-center"
      >
        <div class="relative group shadow-xl shadow-slate-900 w-72">
          <div
            class="absolute -inset-1 bg-gradient-to-r from-aquamarine-600 to-indigo-500 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
          >
          </div>
          <a
            href="https://play.google.com/store/apps/details?id=com.salamlabs.salamapp"
            target="_blank"
            class="relative px-7 py-6 bg-smoke-400 ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6 border-2 border-aquamarine"
          >
            <div
              class="flex items-center w-auto rounded-lg px-4 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-7 md:w-8"
                viewBox="0 0 512 512"
                ><path
                  fill="currentColor"
                  d="M48 59.49v393a4.33 4.33 0 0 0 7.37 3.07L260 256L55.37 56.42A4.33 4.33 0 0 0 48 59.49ZM345.8 174L89.22 32.64l-.16-.09c-4.42-2.4-8.62 3.58-5 7.06l201.13 192.32ZM84.08 472.39c-3.64 3.48.56 9.46 5 7.06l.16-.09L345.8 338l-60.61-57.95ZM449.38 231l-71.65-39.46L310.36 256l67.37 64.43L449.38 281c19.49-10.77 19.49-39.23 0-50Z"
                ></path>
              </svg>

              <div class="text-left ml-3">
                <p class="text-xs text-gray-200">Download on</p>
                <p class="text-sm md:text-base">Google Play Store</p>
              </div>
            </div>
          </a>
        </div>
        <div class="relative group shadow-xl shadow-slate-900 w-72">
          <div
            class="absolute -inset-1 bg-gradient-to-r from-aquamarine-600 to-indigo-500 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
          >
          </div>
          <a
            href="https://apps.apple.com/app/id1629159763?platform=iphone"
            target="_blank"
            class="relative px-7 py-6 bg-smoke-400 ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6 border-2 border-aquamarine"
          >
            <div
              class="flex items-center w-auto rounded-lg px-4 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-7 md:w-8"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M17.05 20.28c-.98.95-2.05.8-3.08.35c-1.09-.46-2.09-.48-3.24 0c-1.44.62-2.2.44-3.06-.35C2.79 15.25 3.51 7.59 9.05 7.31c1.35.07 2.29.74 3.08.8c1.18-.24 2.31-.93 3.57-.84c1.51.12 2.65.72 3.4 1.8c-3.12 1.87-2.38 5.98.48 7.13c-.57 1.5-1.31 2.99-2.54 4.09l.01-.01zM12.03 7.25c-.15-2.23 1.66-4.07 3.74-4.25c.29 2.58-2.34 4.5-3.74 4.25z"
                ></path>
              </svg>

              <div class="text-left ml-3">
                <p class="text-xs text-gray-200">Download on</p>
                <p class="text-sm md:text-base">Apple Store</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="">
    <div class="container p-6 mx-auto">
      <div class="lg:flex">
        <div class="w-full -mx-6 lg:w-2/5">
          <div class="px-6">
            <div>
              <a
                target="_blank"
                href="https://salamlabs.io"
                class="text-xl font-bold text-white hover:text-gray-700 dark:hover:text-gray-300"
                >
                <img src="/labs.png" class="h-[100px] w-[100px]" alt="Salam Labs 🧪">
                </a
              >
            </div>

            <p class="max-w-sm mt-2 text-gray-400">
              Join thousands of muslims and improve your lifestyle.
            </p>

            <div class="flex mt-6 -mx-2">
              <a
                href="https://www.instagram.com/salamappofficial/"
                target="_blank"
                class="mx-2 transition-colors duration-300 text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
                aria-label="Instgram"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 fill-current"
                  viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M7.465 1.066C8.638 1.012 9.012 1 12 1c2.988 0 3.362.013 4.534.066c1.172.053 1.972.24 2.672.511c.733.277 1.398.71 1.948 1.27c.56.549.992 1.213 1.268 1.947c.272.7.458 1.5.512 2.67C22.988 8.639 23 9.013 23 12c0 2.988-.013 3.362-.066 4.535c-.053 1.17-.24 1.97-.512 2.67a5.396 5.396 0 0 1-1.268 1.949c-.55.56-1.215.992-1.948 1.268c-.7.272-1.5.458-2.67.512c-1.174.054-1.548.066-4.536.066c-2.988 0-3.362-.013-4.535-.066c-1.17-.053-1.97-.24-2.67-.512a5.397 5.397 0 0 1-1.949-1.268a5.392 5.392 0 0 1-1.269-1.948c-.271-.7-.457-1.5-.511-2.67C1.012 15.361 1 14.987 1 12c0-2.988.013-3.362.066-4.534c.053-1.172.24-1.972.511-2.672a5.396 5.396 0 0 1 1.27-1.948a5.392 5.392 0 0 1 1.947-1.269c.7-.271 1.5-.457 2.67-.511Zm8.98 1.98c-1.16-.053-1.508-.064-4.445-.064c-2.937 0-3.285.011-4.445.064c-1.073.049-1.655.228-2.043.379c-.513.2-.88.437-1.265.822a3.412 3.412 0 0 0-.822 1.265c-.151.388-.33.97-.379 2.043c-.053 1.16-.064 1.508-.064 4.445c0 2.937.011 3.285.064 4.445c.049 1.073.228 1.655.379 2.043c.176.477.457.91.822 1.265c.355.365.788.646 1.265.822c.388.151.97.33 2.043.379c1.16.053 1.507.064 4.445.064c2.938 0 3.285-.011 4.445-.064c1.073-.049 1.655-.228 2.043-.379c.513-.2.88-.437 1.265-.822c.365-.355.646-.788.822-1.265c.151-.388.33-.97.379-2.043c.053-1.16.064-1.508.064-4.445c0-2.937-.011-3.285-.064-4.445c-.049-1.073-.228-1.655-.379-2.043c-.2-.513-.437-.88-.822-1.265a3.413 3.413 0 0 0-1.265-.822c-.388-.151-.97-.33-2.043-.379Zm-5.85 12.345a3.669 3.669 0 0 0 4-5.986a3.67 3.67 0 1 0-4 5.986ZM8.002 8.002a5.654 5.654 0 1 1 7.996 7.996a5.654 5.654 0 0 1-7.996-7.996Zm10.906-.814a1.337 1.337 0 1 0-1.89-1.89a1.337 1.337 0 0 0 1.89 1.89Z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>

              <a
                href="https://twitter.com/SalamAppTweets"
                target="_blank"
                class="mx-2 transition-colors duration-300 text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
                aria-label="Twitter"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 fill-current"
                  viewBox="0 0 1024 1024"
                  ><path
                    fill="currentColor"
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4c0 146.8-111.8 315.9-316.1 315.9c-63 0-121.4-18.3-170.6-49.8c9 1 17.6 1.4 26.8 1.4c52 0 99.8-17.6 137.9-47.4c-48.8-1-89.8-33-103.8-77c17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35c25.1-4.7 49.1-14.1 70.5-26.7c-8.3 25.7-25.7 47.4-48.8 61.1c22.4-2.4 44-8.6 64-17.3c-15.1 22.2-34 41.9-55.7 57.6z"
                  ></path>
                </svg>
              </a>

              <a
                href="https://github.com/Salam-Labs/"
                target="_blank"
                class="mx-2 transition-colors duration-300 text-gray-300 hover:text-blue-500 dark:hover:text-blue-400"
                aria-label="Github"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 fill-current"
                  viewBox="0 0 24 24"
                  ><path
                    fill="currentColor"
                    d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="mt-6 lg:mt-0 lg:flex-1">
          <div
            class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
          >
            <div>
              <h3 class="uppercase text-white">About</h3>
              <a
                href="https://salamlabs.io"
                target="_blank"
                class="block mt-2 text-sm text-gray-400 hover:underline"
                >Company</a
              >
              <a
                href="https://discord.com/invite/G4Ss4Dw"
                target="_blank"
                class="block mt-2 text-sm text-gray-400 hover:underline"
                >Community</a
              >
    
            </div>

            <div>
              <h3 class="uppercase text-white">Products</h3>
              <a
                href="/gallery"
                target="_blank"
                class="block mt-2 text-sm text-gray-400 hover:underline"
                >Salam App</a
              >

        
          
            </div>

            <div>
              <h3 class="uppercase text-white">Contact</h3>
              <a
                href="https://discord.com/invite/bKqvBtD"
                target="_blank"
                class="block mt-2 text-sm text-gray-400 hover:underline"
                >Discord Support </a
              >

              <a
                class="block mt-2 text-sm text-gray-400 hover:underline"
                href="mailto:support@salamlabs.io">feedback@salamlabs.io</a
              >
            </div>
          </div>
        </div>
      </div>

      <hr class="h-px my-6 border-none bg-gray-700" />

      <div>
        <p class="text-center text-gray-400">
          © Salam Labs 2022 - All rights reserved
        </p>
      </div>
    </div>
  </footer>
</div>
