---
import { Modal } from "../solid/Modal.jsx";
---

<div class="bg-grey-500 pb-8 sm:pb-12 lg:pb-12 flex justify-center">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48 w-[1500px]">
    <div class="sm:mx-16 sm:w-fit sm:px-4 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
      <!-- <div class="2xl:ml-72"> -->
        <div>
        <div class="flex flex-col">
          <div class="flex flex-col">
            <h1
              class="text-6xl font-extrabold text-white tracking-tight text-center sm:text-left sm:text-8xl"
            >
              AD-FREE.
            </h1>
            <h1
              class="text-5xl font-extrabold text-white tracking-tight text-center sm:text-left lg:ml-12 sm:text-8xl"
            >
              PRIVACY.
            </h1>
            <h1
              class="text-4xl font-extrabold text-white tracking-tight text-center sm:text-left lg:ml-24 sm:text-7xl"
            >
              FOREVER FREE.
            </h1>
          </div>
          <div
            class="flex justify-end flex-col items-center sm:items-start lg:items-end"
          >
            <p
              class="mt-2 text-2xl sm:text-4xl text-white content-end font-bold mb-5"
            >
              NO COMPROMISES.
            </p>

            <Modal client:idle />
          </div>
        </div>
      </div>
    </div>
    <!-- -->

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div
        class="py-12 sm:relative sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2"
      >
        <div class="hidden sm:block">
          <!-- <div> -->
          <div
            class="absolute inset-y-0 left-1/2 w-screen bg-grey-500 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"
          >
          </div>
        </div>

        <div class=" flex justify-center relative">
          <img
            src="/theme5.png"
            class="h-[645px] w-[341px] relative "
            alt="photo of salam app"
          />
     </div>

        <!-- tab image here  -->
        <!-- <div
          class="hidden sm:block relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12"
        >
          <img
            src="/image1.png"
            class=" relative mr-auto ml-44"
            alt="photo of salam app"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
