<div class="text-white text-2xl w-full font-bold text-center mt-5 sm:text-4xl">
  <div class="sm:flex sm:justify-around">
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#quran-tafsir">QURAN</a>
    </h1>
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#prayertimes-themes">PRAYER TIMES</a>
    </h1>
  </div>

  <div class="sm:flex sm:justify-around">
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#99names-qibla">QIBLA COMPASS</a>
    </h1>
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#hadith">HADITH</a>
    </h1>
  </div>

  <div class="sm:flex sm:justify-around">
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#quran-tafsir">TAFSIR</a>
    </h1>
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#prayertimes-themes">THEMES</a>
    </h1>
  </div>

  <div class="sm:flex sm:justify-around">
    <h1
      class="hover:text-aquamarine  mt-5 sm:mt-14"
    >
      <a href="/gallery#99names-qibla"> 99 NAMES</a>
    </h1>
  </div>
  <p class="text-2xl text-gray-400 m-5 sm:text-center">
    Click to open a feature
  </p>
</div>
